<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AdminPanel">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Hamidov Ravi">
    <title>AdminPanel</title>

    <!-- website-favicon-link -->
    <link rel="icon" href="/static/assets/uploads/portfolio-17.jpg">

    <!-- googlefont-link -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- css-link -->
    <link rel="stylesheet" href="/static/admin/assets/css/admin.css">

    <!-- boxicons-link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <div class="logo_name">Menu</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">
            <li>
                <a href="/admin/home">
                    <i class='bx bx-home-alt'></i>
                    <span class="links_name">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/admin/about">
                    <i class='bx bx-user'></i>
                    <span class="links_name">About</span>
                </a>
                <span class="tooltip">About</span>
            </li>
            <li>
                <a href="/admin/testimonials">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">Testimonials</span>
                </a>
                <span class="tooltip">Testimonials</span>
            </li>
            <li>
                <a href="/admin/portfolio">
                    <i class='bx bx-folder-open'></i>
                    <span class="links_name">Portfolio</span>
                </a>
                <span class="tooltip">Portfolio</span>
            </li>
            <li>
                <a href="/admin/contact">
                    <i class='bx bxs-contact'></i>
                    <span class="links_name">Contact</span>
                </a>
                <span class="tooltip">Contact</span>
            </li>
            <li>
                <a href="/admin/logout">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>
    <section class="home-section">

        {% block content %}{% endblock %}

    </section>
    <script src="/static/assets/js/main.js"></script>
    <script src="/static/admin/assets/js/admin.js"></script>
</body>

</html>