{% extends "admin/base.html" %}{% block content %}

<h2>blog</h2>

<form action="/admin/blog" method="POST" enctype="multipart/form-data">
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="blog_icon_name..." name="blog_icon_name">
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="blog_title_link..." name="blog_title_link">
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="blog_title_name..." name="blog_title_name">
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="blog_content..." name="blog_content">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<hr>

<table class="table table-active">

    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">blog_icon_name</th>
            <th scope="col">blog_title_link</th>
            <th scope="col">blog_title_name</th>
            <th scope="col">blog_content</th>
            <th scope="col">delete</th>
            <th scope="col">update</th>
        </tr>
    </thead>

    <tbody>

        {% for blg in blog %}
        <tr>
            <td>{{blg.id}}</td>
            <td>{{blg.blog_icon_name}}</td>
            <td>{{blg.blog_title_link}}</td>
            <td>{{blg.blog_title_name}}</td>
            <td>{{blg.blog_content}}</td>
            
            <th><a href="/admin/blog/delete/{{blg.id}}">Sil</a></th>
            <th><a href="/admin/blog/edit/{{blg.id}}">Edit</a></th>
        </tr>
        {% endfor %}

    </tbody>

</table>

{% endblock %}