<i class="icofont-simple-smile"></i>

<i class="icofont-document-folder"></i>

<i class="icofont-live-support"></i>

<i class="icofont-users-alt-5"></i>

<i class="ri-store-line" style="color: #ffbb2c;"></i>

<i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>

<i class="ri-calendar-todo-line" style="color: #e80368;"></i>

<i class="ri-paint-brush-line" style="color: #e361ff;"></i>

<i class="ri-database-2-line" style="color: #47aeff;"></i>

<i class="ri-gradienter-line" style="color: #ffa76e;"></i>

<i class="ri-file-list-3-line" style="color: #11dbcf;"></i>

<i class="ri-price-tag-2-line" style="color: #4233ff;"></i>

<i class="ri-anchor-line" style="color: #b2904f;"></i>

<i class="ri-disc-line" style="color: #b20969;"></i>

<i class="ri-base-station-line" style="color: #ff5828;"></i>

<i class="ri-fingerprint-line" style="color: #29cc61;"></i>