{% extends "admin/base.html" %}{% block content %}

<h2>portfolio</h2>

<form action="/admin/portfolio" method="POST" enctype="multipart/form-data">
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="content..." name="portfolio_content">
    </div>
    <div class="mt-3">
        <input type="file" class="form-control" placeholder="image..." name="portfolio_img">
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="name..." name="portfolio_name">
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="profession..." name="portfolio_profession">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<hr>

<table class="table table-active">

    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">portfolio_content</th>
            <th scope="col">portfolio_img</th>
            <th scope="col">portfolio_name</th>
            <th scope="col">portfolio_profession</th>

            <th scope="col">delete</th>
            <th scope="col">update</th>
        </tr>
    </thead>

    <tbody>
        {% for tst in portfolio %}
        <tr>
            <td>{{tst.id}}</td>
            <td>{{tst.portfolio_content}}</td>
            <td>{{tst.portfolio_img}}</td>
            <td>{{tst.portfolio_name}}</td>
            <td>{{tst.portfolio_profession}}</td>

            <th><a href="/admin/portfolio/delete/{{tst.id}}">delete</a></th>
            <th><a href="/admin/portfolio/edit/{{tst.id}}">update</a></th>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}