{% extends "admin/base.html" %}{% block content %}

<h2>portfolio</h2>

<form action="/admin/portfolio" method="POST" enctype="multipart/form-data">
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="portfolio_icon..." name="portfolio_icon">
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="portfolio_link..." name="portfolio_link">
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="portfolio_title..." name="portfolio_title">
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="portfolio_content..." name="portfolio_content">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

<hr>

<table class="table table-active">

    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">portfolio_icon</th>
            <th scope="col">portfolio_link</th>
            <th scope="col">portfolio_title</th>
            <th scope="col">portfolio_content</th>

            <th scope="col">delete</th>
            <th scope="col">update</th>
        </tr>
    </thead>

    <tbody>
        {% for prt in portfolio %}
        <tr>
            <td>{{prt.id}}</td>
            <td>{{prt.portfolio_icon}}</td>
            <td>{{prt.portfolio_link}}</td>
            <td>{{prt.portfolio_title}}</td>
            <td>{{prt.portfolio_content}}</td>

            <th><a href="/admin/portfolio/delete/{{prt.id}}">delete</a></th>
            <th><a href="/admin/portfolio/edit/{{prt.id}}">update</a></th>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}