{% extends "admin/base.html" %}{% block content %}

<h2>update_testimonials</h2>

<form action="/admin/testimonials/edit/{{newTestimonials.id}}" method="POST" enctype="multipart/form-data">
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="content..." name="testimoials_content" value="{{newTestimonials.testimoials_content}}" required >
    </div>
    <div class="mt-3">
        <input type="file" class="form-control" placeholder="image..." name="testimonials_img" required>
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="name..." name="testimoials_name" value="{{newTestimonials.testimoials_name}}" required >
    </div>
    <div class="mt-3">
        <input type="text" class="form-control" placeholder="profession..." name="testimoials_profession" value="{{newTestimonials.testimoials_profession}}" required >
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>

{% endblock %}